In [1]:
# importting Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# loading and reading dataset
df = pd.read_csv("inflation_data_set.csv")
df.head()

,Country Code,IMF Country Code,Country,1970,1971,1972,1973,1974,1975,1976,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,314,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.4,0.4,0.5,-0.9,-0.5,3.6,4.3,1.2,0.7,5.5
1,AFG,512,Afghanistan,25.5,25.5,-12.5,-10.7,10.2,11.9,0.6,...,7.4,4.7,-0.7,4.4,5.0,0.6,2.3,5.4,5.1,NaN
2,AGO,614,Angola,8.0,5.8,15.8,15.7,27.4,29.0,80.7,...,8.8,7.3,9.2,32.4,29.8,19.6,17.1,21.0,23.8,23.8
3,ALB,914,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,1.6,1.9,1.3,2.0,2.0,1.4,1.6,2.0,6.7
4,ARE,466,United Arab Emirates,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,1.1,2.3,4.1,1.6,2.0,3.1,-1.9,-2.1,0.2,4.8

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 56 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Code      203 non-null    object
 1   IMF Country Code  203 non-null    int64
 2   Country           203 non-null    object
 3   1970              155 non-null    float64
 4   1971              155 non-null    float64
 5   1972              155 non-null    float64
 6   1973              156 non-null    float64
 7   1974              156 non-null    float64
 8   1975              154 non-null    float64
 9   1976              154 non-null    float64
 10  1977              154 non-null    float64
 11  1978              155 non-null    float64
 12  1979              155 non-null    float64
 13  1980              158 non-null    float64
 14  1981              162 non-null    float64
 15  1982              163 non-null    float64
 16  1983              163 non-null    float64
 17  1984              163 non-null    float64
 18  1985              163 non-null    float64
 19  1986              164 non-null    float64
 20  1987              165 non-null    float64
 21  1988              165 non-null    float64
 22  1989              165 non-null    float64
 23  1990              166 non-null    float64
 24  1991              169 non-null    float64
 25  1992              175 non-null    float64
 26  1993              179 non-null    float64
 27  1994              180 non-null    float64
 28  1995              181 non-null    float64
 29  1996              184 non-null    float64
 30  1997              185 non-null    float64
 31  1998              186 non-null    float64
 32  1999              187 non-null    float64
 33  2000              188 non-null    float64
 34  2001              191 non-null    float64
 35  2002              191 non-null    float64
 36  2003              194 non-null    float64
 37  2004              195 non-null    float64
 38  2005              198 non-null    float64
 39  2006              198 non-null    float64
 40  2007              198 non-null    float64
 41  2008              198 non-null    float64
 42  2009              198 non-null    float64
 43  2010              198 non-null    float64
 44  2011              198 non-null    float64
 45  2012              200 non-null    float64
 46  2013              201 non-null    float64
 47  2014              201 non-null    float64
 48  2015              201 non-null    float64
 49  2016              201 non-null    float64
 50  2017              200 non-null    float64
 51  2018              200 non-null    float64
 52  2019              200 non-null    float64
 53  2020              199 non-null    float64
 54  2021              198 non-null    float64
 55  2022              196 non-null    float64
dtypes: float64(53), int64(1), object(2)
memory usage: 88.9+ KB

In [4]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 56 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Code      203 non-null    object
 1   IMF Country Code  203 non-null    int64
 2   Country           203 non-null    object
 3   1970              155 non-null    float64
 4   1971              155 non-null    float64
 5   1972              155 non-null    float64
 6   1973              156 non-null    float64
 7   1974              156 non-null    float64
 8   1975              154 non-null    float64
 9   1976              154 non-null    float64
 10  1977              154 non-null    float64
 11  1978              155 non-null    float64
 12  1979              155 non-null    float64
 13  1980              158 non-null    float64
 14  1981              162 non-null    float64
 15  1982              163 non-null    float64
 16  1983              163 non-null    float64
 17  1984              163 non-null    float64
 18  1985              163 non-null    float64
 19  1986              164 non-null    float64
 20  1987              165 non-null    float64
 21  1988              165 non-null    float64
 22  1989              165 non-null    float64
 23  1990              166 non-null    float64
 24  1991              169 non-null    float64
 25  1992              175 non-null    float64
 26  1993              179 non-null    float64
 27  1994              180 non-null    float64
 28  1995              181 non-null    float64
 29  1996              184 non-null    float64
 30  1997              185 non-null    float64
 31  1998              186 non-null    float64
 32  1999              187 non-null    float64
 33  2000              188 non-null    float64
 34  2001              191 non-null    float64
 35  2002              191 non-null    float64
 36  2003              194 non-null    float64
 37  2004              195 non-null    float64
 38  2005              198 non-null    float64
 39  2006              198 non-null    float64
 40  2007              198 non-null    float64
 41  2008              198 non-null    float64
 42  2009              198 non-null    float64
 43  2010              198 non-null    float64
 44  2011              198 non-null    float64
 45  2012              200 non-null    float64
 46  2013              201 non-null    float64
 47  2014              201 non-null    float64
 48  2015              201 non-null    float64
 49  2016              201 non-null    float64
 50  2017              200 non-null    float64
 51  2018              200 non-null    float64
 52  2019              200 non-null    float64
 53  2020              199 non-null    float64
 54  2021              198 non-null    float64
 55  2022              196 non-null    float64
dtypes: float64(53), int64(1), object(2)
memory usage: 88.9+ KB

In [6]:
df=df.drop(['Country Code', 'IMF Country Code'], axis=1)
df.head()

,Country,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.4,0.4,0.5,-0.9,-0.5,3.6,4.3,1.2,0.7,5.5
1,Afghanistan,25.5,25.5,-12.5,-10.7,10.2,11.9,0.6,7.7,5.0,...,7.4,4.7,-0.7,4.4,5.0,0.6,2.3,5.4,5.1,NaN
2,Angola,8.0,5.8,15.8,15.7,27.4,29.0,80.7,69.0,48.5,...,8.8,7.3,9.2,32.4,29.8,19.6,17.1,21.0,23.8,23.8
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,1.6,1.9,1.3,2.0,2.0,1.4,1.6,2.0,6.7
4,United Arab Emirates,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,13.0,...,1.1,2.3,4.1,1.6,2.0,3.1,-1.9,-2.1,0.2,4.8

In [7]:
# Replace all NaN elements with 0s
df.fillna(df.mean(), inplace=True)

C:\Users\Akshitha\AppData\Local\Temp\ipykernel_20968\3167638952.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [8]:
df.isnull().sum()

Country    0
1970       0
1971       0
1972       0
1973       0
1974       0
1975       0
1976       0
1977       0
1978       0
1979       0
1980       0
1981       0
1982       0
1983       0
1984       0
1985       0
1986       0
1987       0
1988       0
1989       0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
2022       0
dtype: int64

In [9]:
df.head(5)

,Country,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,6.123226,6.49871,8.106452,15.710897,23.078205,18.396753,15.994156,15.892208,12.883871,...,-2.4,0.4,0.5,-0.9,-0.5,3.6,4.3,1.2,0.7,5.500
1,Afghanistan,25.500000,25.50000,-12.500000,-10.700000,10.200000,11.900000,0.600000,7.700000,5.000000,...,7.4,4.7,-0.7,4.4,5.0,0.6,2.3,5.4,5.1,13.475
2,Angola,8.000000,5.80000,15.800000,15.700000,27.400000,29.000000,80.700000,69.000000,48.500000,...,8.8,7.3,9.2,32.4,29.8,19.6,17.1,21.0,23.8,23.800
3,Albania,6.123226,6.49871,8.106452,15.710897,23.078205,18.396753,15.994156,15.892208,12.883871,...,1.9,1.6,1.9,1.3,2.0,2.0,1.4,1.6,2.0,6.700
4,United Arab Emirates,22.000000,22.00000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,13.000000,...,1.1,2.3,4.1,1.6,2.0,3.1,-1.9,-2.1,0.2,4.800

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Country'] = label_encoder.fit_transform(df['Country'])
df.head()

,Country,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,7,6.123226,6.49871,8.106452,15.710897,23.078205,18.396753,15.994156,15.892208,12.883871,...,-2.4,0.4,0.5,-0.9,-0.5,3.6,4.3,1.2,0.7,5.500
1,0,25.500000,25.50000,-12.500000,-10.700000,10.200000,11.900000,0.600000,7.700000,5.000000,...,7.4,4.7,-0.7,4.4,5.0,0.6,2.3,5.4,5.1,13.475
2,3,8.000000,5.80000,15.800000,15.700000,27.400000,29.000000,80.700000,69.000000,48.500000,...,8.8,7.3,9.2,32.4,29.8,19.6,17.1,21.0,23.8,23.800
3,1,6.123226,6.49871,8.106452,15.710897,23.078205,18.396753,15.994156,15.892208,12.883871,...,1.9,1.6,1.9,1.3,2.0,2.0,1.4,1.6,2.0,6.700
4,191,22.000000,22.00000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,13.000000,...,1.1,2.3,4.1,1.6,2.0,3.1,-1.9,-2.1,0.2,4.800

In [11]:
import seaborn as sns # importing seaborn for statistical plots 
import matplotlib.pyplot as plt  # matplotlib.pyplot plots data

In [12]:
# Train test split 
from sklearn.model_selection import train_test_split

In [13]:
from sklearn import preprocessing
from scipy.stats import zscore

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [15]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

In [16]:
X = df.drop( ['2022'] , axis=1)

In [17]:
y = df['2022']

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=123)

In [19]:
lr = LinearRegression() 
lr.fit(X_train, y_train) # Fitting the model on Training data 
y_pred_lr = lr.predict(X_test)
print('\nLR R2_score on training data:',lr.score(X_train, y_train))
print('LR R2_score on test data:',lr.score(X_test, y_test))
print('LR Mean Square Error :',mean_squared_error(y_test,y_pred_lr)) 
print('LR Root Mean Square Error :',np.sqrt(mean_squared_error(y_test, y_pred_lr))) 
print('LR Mean Absolute Error :',mean_absolute_error(y_test, y_pred_lr))

LR R2_score on training data: 0.9624086612461349
LR R2_score on test data: -332.3390104755476
LR Mean Square Error : 9957.87235017988
LR Root Mean Square Error : 99.78913944002062
LR Mean Absolute Error : 21.59465385245851

In [20]:
from sklearn.ensemble import GradientBoostingRegressor
# Perform Gradient Boosting Regression
gb_reg = GradientBoostingRegressor(learning_rate=0.1)
gb_reg.fit(X_train, y_train)

# Predict the target values for the test set
y_pred_gb= gb_reg.predict(X_test)
# Calculate the mean squared error and R^2
mse_gbr = mean_squared_error(y_test,y_pred_gb)
print(mse_gbr)

86.71055794980654

In [21]:
# Creating a regularized LASSO model 
lasso = Lasso(alpha=0.1)
lasso.fit(X_train,y_train) # Fitting the model on Training data 
y_pred_lasso = lasso.predict(X_test) # Making predictions on Test data
print("Lasso model coefficients:", (lasso.coef_)) # Printing the coefficients 
print('\nLasso R2_score on training data:',lasso.score(X_train, y_train))
print('Lasso R2_score on test data:',lasso.score(X_test, y_test))
print('Lasso Mean Square Error :',mean_squared_error(y_test,y_pred_lasso)) 
print('Lasso Root Mean Square Error :',np.sqrt(mean_squared_error(y_test, y_pred_lasso)))
print('Lasso Mean Absolute Error :',mean_absolute_error(y_test, y_pred_lasso))

Lasso model coefficients: [-4.47236226e-03 -3.73779953e-01  2.24529041e-01 -1.16039510e-01
  4.22623898e-02 -9.55311905e-02  5.32218511e-02  7.93444059e-03
 -1.08206159e-01  2.96955211e-01  4.19753328e-02  8.40398575e-02
  2.95651828e-02  4.81931713e-02 -4.72910792e-02 -5.95681073e-02
  6.64493198e-03  2.73040059e-03  6.08094088e-02 -3.54477150e-02
 -1.23406360e-04  5.43493387e-03 -1.51880148e-02  4.04520177e-03
 -1.13124736e-03 -2.83195916e-05 -2.07222762e-02  3.32157600e-03
  9.57267423e-03  1.90892141e-01 -2.30526272e-02  6.22096583e-02
  2.62016279e-03 -2.52183957e-02  3.73928231e-03  9.50035461e-02
 -0.00000000e+00 -6.71948424e-02  2.60086859e-01  1.76947179e-01
 -3.73431819e-01 -6.78764838e-02 -5.70765329e-01  3.70315919e-01
 -1.59633564e-01  1.88247958e-01 -2.33362011e-01 -8.63587003e-02
  5.41091817e-02 -2.01213908e-02  7.05414902e-04 -1.27965976e-02
  9.75549310e-01]

Lasso R2_score on training data: 0.9621105653109048
Lasso R2_score on test data: -336.08268758544034
Lasso Mean Square Error : 10069.707621807462
Lasso Root Mean Square Error : 100.34793282279144
Lasso Mean Absolute Error : 21.710121293571607

C:\Users\Akshitha\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.123e+03, tolerance: 1.084e+01
  model = cd_fast.enet_coordinate_descent(

In [22]:
# Creating a regularized RIDGE model
ridge = Ridge(alpha=.3) 
ridge.fit(X_train,y_train) # Fitting the model on Training data
y_pred_ridge = ridge.predict(X_test) # Making predictions on Test data
print("Ridge model coefficients:", (ridge.coef_)) # Printing the coefficients 
print('\nRidge R2_score on training data:',ridge.score(X_train, y_train))
print('Ridge R2_score on test data:',ridge.score(X_test, y_test))
print('Ridge Mean Square Error :',mean_squared_error(y_test,y_pred_ridge)) 
print('Ridge Root Mean Square Error :',np.sqrt(mean_squared_error(y_test, y_pred_ridge)))
print('Ridge Mean Absolute Error :',mean_absolute_error(y_test, y_pred_ridge))

Ridge model coefficients: [-3.86253326e-03 -3.57755181e-01  2.29013370e-01 -1.26352760e-01
  4.62093122e-02 -9.54267597e-02  5.50430014e-02  8.77549350e-03
 -1.01292346e-01  2.71792357e-01  5.64357013e-02  7.62152386e-02
  3.91918559e-02  4.50471277e-02 -5.11620935e-02 -5.81271362e-02
  6.59555249e-03  3.77964045e-03  6.04260474e-02 -3.47904580e-02
 -8.31704936e-04  6.08589631e-03 -1.78652863e-02  4.25059750e-03
 -8.14474775e-04 -1.11648975e-04 -2.20460981e-02  3.11201505e-03
  1.08612272e-02  1.86057407e-01 -3.63929029e-03  5.18390178e-02
  1.07354609e-02 -4.42010637e-02  2.56767087e-02  7.48091463e-02
  3.84330092e-03 -7.65184177e-02  3.11229607e-01  1.46936824e-01
 -3.63332001e-01 -1.33943964e-01 -6.11099821e-01  3.71382586e-01
 -1.43160923e-01  2.61997324e-01 -3.56011424e-01 -1.72362404e-01
  2.57747119e-01 -3.42309435e-02  4.45538405e-02 -1.30786426e-02
  9.72483775e-01]

Ridge R2_score on training data: 0.9624086589009893
Ridge R2_score on test data: -332.4111271732958
Ridge Mean Square Error : 9960.026700099708
Ridge Root Mean Square Error : 99.79993336721077
Ridge Mean Absolute Error : 21.595521725435827

In [23]:
from sklearn.linear_model import ElasticNet
# Fitting a Elastic Net Regression
en = ElasticNet(alpha=1.0, l1_ratio=0.5)
en.fit(X_train, y_train) # Fitting the model on Training data
y_pred_en = en.predict(X_test) # Making predictions on Test data
print("Elastic Net Regression model coefficients:", (en.coef_)) # Printing the coefficients
print('\nEN R2_score on training data:',en.score(X_train, y_train))
print('EN R2_score on test data:',en.score(X_test, y_test))
print('EN Mean Square Error :',mean_squared_error(y_test,y_pred_en))
print('EN Root Mean Square Error :',np.sqrt(mean_squared_error(y_test, y_pred_en)))
print('EN Mean Absolute Error :',mean_absolute_error(y_test, y_pred_en))

Elastic Net Regression model coefficients: [-6.63704252e-03 -3.13290392e-01  2.03852257e-01 -1.03069416e-01
  1.59077790e-02 -7.21858616e-02  4.61853243e-02  3.83964760e-03
 -7.79960343e-02  2.84132341e-01  5.47174909e-02  7.05642574e-02
  1.28754836e-02  3.43079805e-02 -4.59825168e-02 -5.02472772e-02
  5.93178038e-03 -3.27339328e-03  5.82263983e-02 -2.94138752e-02
  8.89936842e-04  3.96609255e-03 -1.33742601e-02  4.00516443e-03
 -1.59301931e-03 -4.26010923e-05 -1.73982023e-02  1.84965980e-03
  9.66577202e-03  1.91011738e-01 -1.83537680e-02  3.80226767e-02
  0.00000000e+00 -0.00000000e+00  0.00000000e+00  6.00572064e-02
 -0.00000000e+00 -0.00000000e+00  1.25089840e-01  1.22421076e-01
 -2.50069943e-01 -0.00000000e+00 -3.42887167e-01  1.33667308e-01
 -0.00000000e+00  0.00000000e+00 -1.89433278e-01 -7.15902224e-02
  1.70831940e-02 -2.00187764e-02  8.98148601e-04 -1.24808962e-02
  9.74947153e-01]

EN R2_score on training data: 0.9605054921169772
EN R2_score on test data: -328.17312942143303
EN Mean Square Error : 9833.424534415008
EN Root Mean Square Error : 99.16362505684737
EN Mean Absolute Error : 21.020118107122816

C:\Users\Akshitha\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.422e+03, tolerance: 1.084e+01
  model = cd_fast.enet_coordinate_descent(

In [24]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Select the feature and target columns
X = df.drop( ['2022'] , axis=1).values
y = df['2022'].values

# Split the data into training and test sets
train_data, test_data, train_target, test_target = train_test_split(X, y, test_size=0.3, random_state=123)

# Perform KNN regression using k = 3 and feature_column as the covariate
knn_reg = KNeighborsRegressor(n_neighbors=3, weights='uniform')
knn_reg.fit(train_data, train_target)

# Predict the target values for the test set
test_pred = knn_reg.predict(test_data)

# Calculate the mean squared error and R^2
mse_knnr = mean_squared_error(test_target, test_pred)
r_sq = r2_score(test_target, test_pred)

# Print the results
print("Mean Squared Error:", mse_knnr)
print("R^2:", r_sq)

Mean Squared Error: 124.57598246812387
R^2: -4.1169709598863875

In [25]:
from sklearn.svm import SVR

# Perform SVR
svr = SVR(kernel='linear', C=1, epsilon=0.2)
svr.fit(train_data, train_target)

# Predict the target values for the test set
test_pred = svr.predict(test_data)

# Calculate the mean squared error and R^2
mse_svr = mean_squared_error(test_target, test_pred)
r_sq = r2_score(test_target, test_pred)

# Print the results
print("Mean Squared Error (SVR):", mse_svr)
print("R^2 (SVR):", r_sq)

Mean Squared Error (SVR): 6123.855042847627
R^2 (SVR): -250.53795937208986

In [26]:
from sklearn.tree import DecisionTreeRegressor

# Split the data into training and test sets
train_data, test_data, train_target, test_target = train_test_split(X, y, test_size=0.3, random_state=123)

# Perform Decision Tree Regression
dt_reg = DecisionTreeRegressor()
dt_reg.fit(train_data, train_target)

# Predict the target values for the test set
test_pred = dt_reg.predict(test_data)

# Calculate the mean squared error and R^2
mse_dtr = mean_squared_error(test_target, test_pred)
r_sq = r2_score(test_target, test_pred)

# Print the results
print("Mean Squared Error (Decision Tree):", mse_dtr)
print("R^2 (Decision Tree):", r_sq)

Mean Squared Error (Decision Tree): 101.45324795081967
R^2 (Decision Tree): -3.167202323155121

In [27]:
from sklearn.ensemble import RandomForestRegressor

# Split the data into training and test sets
train_data, test_data, train_target, test_target = train_test_split(X, y, test_size=0.3, random_state=123)

# Perform Random Forest Regression
rf_reg = RandomForestRegressor()
rf_reg.fit(train_data, train_target)

# Predict the target values for the test set
test_pred = rf_reg.predict(test_data)

# Calculate the mean squared error and R^2
mse_rfr = mean_squared_error(test_target, test_pred)
r_sq = r2_score(test_target, test_pred)

# Print the results
print("Mean Squared Error (Random Forest):", mse_rfr)
print("R^2 (Random Forest):", r_sq)

Mean Squared Error (Random Forest): 104.50329737397547
R^2 (Random Forest): -3.292483408764862

In [34]:
from sklearn.ensemble import GradientBoostingRegressor
# Split the data into training and test sets
train_data, test_data, train_target, test_target = train_test_split(X, y, test_size=0.3, random_state=123)
# Perform Gradient Boosting Regression
gb_reg = GradientBoostingRegressor(learning_rate=0.1)
gb_reg.fit(train_data, train_target)

# Predict the target values for the test set
test_pred_gb= gb_reg.predict(test_data)
# Calculate the mean squared error and R^2
mse_gbr = mean_squared_error(test_target, test_pred_gb)
print(mse_gbr)

59.25714878266462

In [ ]:
print("linear regression:", mean_squared_error(y_test,y_pred_lr))
print("Ridge regression:", mean_squared_error(y_test,y_pred_ridge))
print("Lasso regression:", mean_squared_error(y_test,y_pred_lasso))
print("Elastic net:", mean_squared_error(y_test,y_pred_en))
print("KNN regression:", mse_knnr)
print("Support vector regressor:", mse_svr)
print("dectision tree regressor:", mse_dtr)
print("random forest regressor:", mse_rfr)
print("Gradient Boosting:", mse_gbr)

# randomserch cv

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score

# Define the parameter grid for RandomizedSearchCV
param_grid = {
    'n_estimators': [10, 50, 100, 200],
    'learning_rate': [0.01, 0.1, 1.0],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'subsample': [0.5, 1.0],
    'max_features': [1.0, 'sqrt', 'log2']  # Explicitly set max_features=1.0
}

# Perform RandomizedSearchCV with GradientBoostingRegressor
gb_reg_random = RandomizedSearchCV(estimator=GradientBoostingRegressor(), param_distributions=param_grid, n_iter=100, cv=5, verbose=2, random_state=123)
gb_reg_random.fit(X_train, y_train)

# Predict the target values for the test set
test_pred_rscv = gb_reg_random.predict(X_test)

# Calculate the mean squared error and R^2
mse_gbr = mean_squared_error(y_test, test_pred_rscv)
r_sq = r2_score(y_test, test_pred_rscv)

# Print the best parameters and the best score
print("Best Parameters:", gb_reg_random.best_params_)
print("Best Score:", gb_reg_random.best_score_)

In [ ]:
from sklearn.metrics import mean_squared_error

# Calculate the mean squared error
mse_gbr_rscv = mean_squared_error(y_test, test_pred_rscv)

# Print the MSE score
print("MSE Score:", mse_gbr_rscv)

In [32]:
from sklearn.ensemble import GradientBoostingRegressor

# Create a new GradientBoostingRegressor model with the best parameters
gbr = GradientBoostingRegressor(
    subsample=0.5,
    n_estimators=200,
    min_samples_split=2,
    min_samples_leaf=1,
    max_features=1.0,
    max_depth=20,
    learning_rate=0.1
)

# Fit the model to the training data
gbr.fit(train_data, train_target)

# Predict the target values for the test set
test_pred = gbr.predict(test_data)

# Calculate the mean squared error and R^2
mse = mean_squared_error(test_target, test_pred)
r_sq = r2_score(test_target, test_pred)

# Print the results
print("Mean Squared Error (Gradient Boosting):", mse)
print("R^2 (Gradient Boosting):", r_sq)

Mean Squared Error (Gradient Boosting): 89.78811092902336
R^2 (Gradient Boosting): -2.688055651372696

# GridSearchCV

In [33]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {
    'n_estimators': [200],
    'learning_rate': [0.1],
    'max_depth': [20],
    'min_samples_split': [2],
    'min_samples_leaf': [1],
    'max_features': [1.0],
    'subsample': [0.5]
}

# Initialize the Gradient Boosting Regressor
gb_reg = GradientBoostingRegressor()

# Perform Grid Search CV
grid_search = GridSearchCV(gb_reg, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(train_data, train_target)

# Print the best parameters and the corresponding mean squared error
print("Best Parameters:", grid_search.best_params_)
print("Mean Squared Error (Gradient Boosting):", -grid_search.best_score_)

Best Parameters: {'learning_rate': 0.1, 'max_depth': 20, 'max_features': 1.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200, 'subsample': 0.5}
Mean Squared Error (Gradient Boosting): 326.4495832586182